@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGray);
    font-family: 'Outfit';
}

.main {
    width: 300px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 12px;
    background-color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}
.main__h1 {
    font-size: 21px;
    color: var(--darkBlue);
}
.main__p {
    font-size: 17px;
    color: var(--grayishBlue);
}
.picture__img {
    width: 100%;
    border-radius: 13px;
}